In [ ]:
import psycopg2
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import yaml
import matplotlib.pyplot as plt
from plotnine import *
theme_set(theme_bw())

file = open("../pop.yaml", 'r')
config = yaml.load(file)

engine_path = 'postgresql://{}:{}@{}/{}'
engine = create_engine(engine_path.format(config['db']['username'], config['db']['password'], config['db']['host'],
                                          config['db']['database']))

In [ ]:
qry = 'set role direccion_trabajo_inspections_write;select * from raw.inspections_sample;'
df3=pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; select variable_name, description_english from raw.metadata;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; select * from raw.inspections_complete limit 5;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select mesreg, count(IDFiscalizacion) as numinspec, sum(num_materias) as Total_Inspections,
        count(distinct codoficina) as numoffice, sum(infra) as numinfra
        from raw.inspections_complete
        where Agno = '2014'
        group by mesreg
        order by mesreg;
    """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
df = pd.read_sql_query(qry, engine)

In [ ]:
(ggplot(df, aes('mesreg', 'numinfra') ) +
    geom_bar(stat = 'identity', fill = "purple") +
    #scale_x_continuous(breaks = range(0, 16)) +
    xlab('Month') + ylab('No of Infractions') +
    theme_bw() + 
    #coord_flip() +
    ggtitle("Number of Infractions per Month"))

In [ ]:
(ggplot(df, aes('mesreg', 'numinspec') ) +
    geom_bar(stat = 'identity', fill = "purple") +
    #scale_x_continuous(breaks = range(0, 16)) +
    xlab('Month') + ylab('No of Inspections') +
    theme_bw() + 
    #coord_flip() +
    ggtitle("Number of Inspections per Month"))

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select count(IDFiscalizacion) as numinspec, sum(EmpTrabHombres) as Num_Employees,
            count(distinct codoficina) as numoffice, sum(infra) as numinfra, sum(num_materias) as Num_Matters_Inspected,
            sum(TotalAfectados) as Total_Affected_Employees,count(distinct EmpDFCodComuna) as Total_Companies_Adr, 
            count(distinct RutEmpresaMask) as Total_Facilities
        from raw.inspections_complete;
    """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select 
        sum(case when EgresoConMulta then 1 else 0 end) as Penalty from raw.inspections_complete;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
    set role direccion_trabajo_inspections_write;
    select count(EmpDMCodComuna) as HQ, count(distinct EmpDFCodComuna) as Company_Address from raw.inspections_complete limit 20;
"""

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; select variable_name, description_english from raw.metadata;
        """

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select * from cleaned.inspections_se limit 10;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
     set role direccion_trabajo_inspections_write;
     select EmpDFCodComuna, max(sum(num_materias)) from raw.inspections_complete
     group by EmpDFCodComuna;
    """

In [ ]:
qry = """
 set role direccion_trabajo_inspections_write;
 select Agno, sum(TotalAfectados), sum(infra) as Infra
 from raw.inspections_complete
 group by Agno
 order by Agno;
"""

In [ ]:
df = pd.read_sql_query(qry, engine)

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df

In [ ]:
plt.plot( 'agno', 'sum', data=df, marker='', color='olive', linewidth=2)
plt.plot( 'agno', 'infra', data=df, marker='', color='olive', linewidth=2, linestyle='dashed', label="toto")

In [ ]:
plt.subplot(2, 1, 1)
plt.plot( 'agno', 'sum', data=df, marker='', color='olive', linewidth=2)
plt.title('# Employees Affected vs # Infranctions Year Wise')
plt.ylabel('Number of Employees Affected')

plt.subplot(2, 1, 2)
plt.plot( 'agno', 'infra', data=df, marker='', color='olive', linewidth=2, linestyle='dashed', label="toto")
plt.xlabel('Year')
plt.ylabel('Number of Infractions')

plt.rcParams["figure.figsize"] = [12,7]

In [ ]:
(ggplot(df, aes('agno')) +
 geom_line(aes(y = 'sum')) + 
  geom_line(aes(y = 'infra')))

In [ ]:
pd

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select datereg, count(IDFiscalizacion) as numinspec, sum(num_materias) as Total_Inspections,
        count(distinct codoficina) as numoffice, sum(infra) as numinfra
        from raw.inspections_complete
        where Agno = '2014' and mesreg = '10'
        group by inspections_complete.datereg
        order by inspections_complete.datereg;
    """

In [ ]:
df1 = pd.read_sql_query(qry, engine)

In [ ]:
df1

In [ ]:
ggplot(df, aes(x = 'datereg', y = 'numinfra')) + \
geom_point(color='steelblue') +\
theme(axis_text_x = element_text(angle = 90, vjust = 1, hjust=1))

In [ ]:
plt.plot( 'datereg', 'numinfra', data=df1, marker='o', markerfacecolor='blue', markersize=12, color='skyblue', linewidth=4)
plt.rcParams["figure.figsize"] = [12,7]
plt.xlabel('Date')
plt.ylabel('Number of Infractions')
plt.title('October 2014 Spike in Infractions')

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; select variable_name, description_english from raw.metadata;
        """

In [ ]:
pd.set_option('display.max_colwidth', 100)

In [ ]:
meta = pd.read_sql_query(qry,engine)

In [ ]:
meta

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select count(idfiscalizacion) as count_infrac, matter_code
        from cleaned.infracted_matters
        group by matter_code
        order by count_infrac DESC
        limit 15;"""

In [ ]:
post = pd.read_sql_query(qry, engine)

In [ ]:
post["Violation"] = ""

In [ ]:
post.head(6)

In [ ]:
poster = post.loc[post['count_infrac'] > 50000]

In [ ]:
poster

In [ ]:
poster.sort_values(by=['count_infrac'], ascending=False)

In [ ]:
post.loc[post['matter_code'] == '10', 'Violation'] = "Day and Breaks"
post.loc[post['matter_code'] == '9', 'Violation'] = "Hygiene and Security"
post.loc[post['matter_code'] == '15', 'Violation'] = "Remunerations"
post.loc[post['matter_code'] == '3', 'Violation'] = "Work Contract"
post.loc[post['matter_code'] == '12', 'Violation'] = "Trade Union Organizations"

In [ ]:
post.loc[post['matter_code'] == '6', 'Violation'] = "Predictive Quotations"
post.loc[post['matter_code'] == '4', 'Violation'] = "Informal Labor"
post.loc[post['matter_code'] == '52', 'Violation'] = "Remunerations"

In [ ]:
poster.loc[poster['matter_code'] == '64', 'Violation'] = "Workers' Health/Life Protn."

In [ ]:
p=(ggplot(poster, aes('Violation', 'count_infrac') ) +
    geom_bar(stat = 'identity', fill = "steelblue") +
    #scale_x_continuous(breaks = range(0, 16)) +
    xlab('') + 
    ylab('No. of Violations') +
    theme(
         axis_text_x  = element_text(size = 6, angle = 20, hjust = 1, color='black'),
         axis_text_y  = element_text(size = 6, color='black'),
         axis_title=element_text(size=7)) +
    #coord_flip() +
    ggtitle("Top 5 Violation Categories (2006-2016)")
  )

In [ ]:
ggsave(p, "Top 5 Violation Categories (2006-2016).png", width = 5, height = 3)

In [ ]:
print(p)

In [ ]:
post['matter_code'] = post['matter_code'].str.strip()

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select sum(infra) as Infractions, Urgencia from raw.inspections_complete
        group by Urgencia;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select comuna from raw.taxes limit 10;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select count (distinct rutmask), count (rutmask) from raw.taxes;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
pd.set_option('display.max_colwidth', 100)

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select agno, ntrabajadores, rutmask, dv from raw.taxes
        where rutmask = '3a925175e5bb378637e5eaf09624c1ebcdaff3cc9f87b57362a1d5ab586d037a' OR rutmask = 'cc90a6a0ebf1c561bb93d2af459d211aa85c36ca2d5b69e31ebd896ac72a58ba'
        OR rutmask = '1c90c5ae35062796e81562c42b1ea1122a7d7e7587d42991897a7796b48bfc1a' OR rutmask = '2be11218e6f0e0edc70d62d1ab924ed6ca58bd47054e0b8e7766d044da37c2ff'
        order by rutmask, agno
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select count (distinct rubro) from raw.taxes;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select avg(infra), agno from raw.inspections_complete
        group by agno;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
meta

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select i.Agno, i.RutEmpresaMask, i.IDFiscalizacion, i.TotalAfectados, i.Urgencia, i.EgresoConMulta, i.noInfra,
        i.Infra, i.derechoFund, i.num_materias, i.num_sind, i.Region, i.datereg, i.mesreg,
        t.ntrabajadores, t.rubro, t.fechatermino
        from raw.inspections_complete i
        inner join raw.taxes t
        on i.RutEmpresaMask=t.RutMask
        AND i.Agno=t.agno;
        """

In [ ]:
merged=pd.read_sql_query(qry, engine)

In [ ]:
merged.head()

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.plotly as py

In [ ]:
import plotly.graph_objs as go

In [ ]:
N = 20
x = np.linspace(1, 10, N)
y = np.random.randn(N)+3
y2 = np.random.randn(N)+6
y3 = np.random.randn(N)+9
y4 = np.random.randn(N)+12
df = pd.DataFrame({'x': x, 'y': y, 'y2':y2, 'y3':y3, 'y4':y4})
df.head()b

In [ ]:
industries = merged.groupby(['rubro'])[["noinfra", "infra", "num_materias"]].sum()

In [ ]:
industries['sum'] = industries['infra'] + industries['noinfra']

In [ ]:
industries

In [ ]:
industries.drop(columns=['num_materias','sum']).plot.bar(stacked=True,figsize=(12,7), title = "Infractions/ No Infractions by Business Tyoe")
plt.xlabel('Business Type')

In [ ]:
plt.matshow(merged.corr())

In [ ]:
def plot_corr(df,size=10):
    '''Function plots a graphical correlation matrix for each pair of columns in the dataframe.

    Input:
        df: pandas DataFrame
        size: vertical and horizontal size of the plot'''

    corr = df.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr)
    plt.xticks(range(len(corr.columns)), corr.columns);
    plt.yticks(range(len(corr.columns)), corr.columns);

In [ ]:
merged.shape

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select agno, sum(Infra) as Infra, sum(noInfra) as No_Infra, sum(num_materias) as Num_Materias_Inspected from raw.inspections_complete
        group by agno;
        """

discrepancy = pd.read_sql_query(qry, engine)

discrepancy['Sum of Infra and No Infra'] = discrepancy['infra'] + discrepancy['no_infra']

discrepancy['difference'] = discrepancy['num_materias_inspected'] - discrepancy['Sum of Infra and No Infra']

discrepancy.loc['Total']= discrepancy.sum()

In [ ]:
discrepancy

In [ ]:
meta

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select derechoFund, RutEmpresaMask, IDFiscalizacion  from raw.inspections_complete
        where derechoFund > 0.0;
        """

In [ ]:
pd.read_sql_query(qry,engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select derechoFund, RutEmpresaMask  from raw.inspections_complete
        where RutEmpresaMask='2ca6715b0d57dbfc9734ae9882719a1b4c85f9010448ca9d51647facd2956d16';
        """

In [ ]:
pd.read_sql_query(qry,engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select count(IDFiscalizacion), Infractor from raw.inspections_complete
        group by Infractor;
        """

In [ ]:
pd.read_sql_query(qry,engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select count(RutEmpresaMask	), Exsind from raw.inspections_complete
        group by Exsind;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) as avg_Inspec_year from 
        (select count(IDFiscalizacion) as stat, Agno from raw.inspections_complete
        group by Agno) sub;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) as Avg_Infrac_Year  from 
        (select sum(Infra) as stat, Agno from raw.inspections_complete
        group by Agno) sub;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) avg_Infrac_Region from 
        (select sum(Infra) as stat, Region from raw.inspections_complete
        group by Region) sub;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) avg_Inspec_Region from 
        (select count(IDFiscalizacion) as stat, Region from raw.inspections_complete
        group by Region) sub;
        """

In [ ]:
pd.read_sql_query(qry,engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) avg_Inspec_Company from 
        (select count(IDFiscalizacion) as stat, RutEmpresaMask from raw.inspections_complete
        group by RutEmpresaMask) sub;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) avg_Infrac_Company from 
        (select sum(Infra) as stat, RutEmpresaMask from raw.inspections_complete
        group by RutEmpresaMask) sub;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select avg(stat) as avg_LabUnion_Company from 
        (select num_sind as stat, RutEmpresaMask from raw.inspections_complete) sub;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
    
        select distinct num_sind, RutEmpresaMask from raw.inspections_complete
        where num_sind = 5
        
         limit 10;
        
        """

In [ ]:
pd.set_option('display.max_colwidth', 100)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; 
        select num_sind, RutEmpresaMask from raw.inspections_complete
        where RutEmpresaMask = 'c1d072b7c8b9a5deff04a6f94aed8e3431f247df1156d3d63161b38c7bacf542';
        """

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        select i.Agno, i.RutEmpresaMask, i.IDFiscalizacion, i.TotalAfectados, i.Urgencia, i.EgresoConMulta, i.noInfra,
        i.Infra, i.derechoFund, i.num_materias, i.num_sind, i.Region, i.datereg, i.mesreg,
        t.ntrabajadores, t.rubro, t.fechatermino
        from raw.inspections_complete i
        inner join raw.taxes t
        on i.RutEmpresaMask=t.RutMask
        AND i.Agno=t.agno;
        """

In [ ]:
merged = pd.read_sql_query(qry, engine)

In [ ]:
merged.head()

In [ ]:
new = pd.DataFrame(merged[np.isfinite(merged['ntrabajadores'])].groupby(['rutempresamask'])['ntrabajadores'].mean())

In [ ]:
new.head()

In [ ]:
new['ntrabajadores'].mean()

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT sum(case Urgencia when null then 1 else 0 end) as Null_Values
        FROM raw.inspections_complete;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT count(Urgencia)
        FROM raw.inspections_complete
        where Urgencia is null;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT *
        FROM staging.simple
        limit 5;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT count(rutempresamask)
        FROM staging.simple
        group by santiago;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT count(rutempresamask)
        FROM staging.simple
        group by infractor;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT count(rutempresamask)
        FROM staging.simple
        where agno != 2016 and infractor is not null
        group by infractor;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT count(rutempresamask)
        FROM staging.simple
        where agno != 2016 and infractor is not null and santiago = 1
        group by infractor;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT count(distinct rutempresamask)
        FROM staging.simple
        where agno != 2016 and infractor is not null
        group by santiago ;
        """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write;
        SELECT ntrabajadores, RutMask
        FROM raw.taxes
        
        """

In [ ]:
df = pd.read_sql_query(qry, engine)

In [ ]:
df.ntrabajadores.describe()

# Merging comunaglosa and inspections_se

In [ ]:
qry = """
set role direccion_trabajo_inspections_write;
select * from raw.comunaglosa;"""

In [ ]:
comuna = pd.read_sql_query(qry, engine)

In [ ]:
qry = """
        set role direccion_trabajo_inspections_write; select variable_name, description_english from raw.metadata;
        """

In [ ]:
metadata = pd.read_sql_query(qry, engine)

In [ ]:
metadata

In [ ]:
qry = """
set role direccion_trabajo_inspections_write;
select IDFiscalizacion, RutEmpresaMask, EmpDFCodComuna, EmpDMCodComuna, Region, Infra, num_materias from raw.inspections_se"""

In [ ]:
pd.set_option('display.max_colwidth', 100)

In [ ]:
inspections = pd.read_sql_query(qry, engine)

In [ ]:
qry = """
set role direccion_trabajo_inspections_write;
select i.EmpDFCodComuna
from raw.inspections_se i right outer join 
raw.comunaglosa c
on (c.codigo = i.EmpDFCodComuna)
where i.inspections is null
group by c.codigo;
"""

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry="""
set role direccion_trabajo_inspections_write; 
SELECT DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS
WHERE 
     TABLE_NAME = 'comunaglosa' AND 
     COLUMN_NAME = 'codigo';
     """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry="""
set role direccion_trabajo_inspections_write; 
SELECT DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS
WHERE 
     TABLE_NAME = 'inspections_complete' AND 
     COLUMN_NAME = 'empdfcodcomuna';
     """

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry="""
set role direccion_trabajo_inspections_write; 
alter table raw.inspections_se ALTER COLUMN empdfcodcomuna TYPE numeric USING empdfcodcomuna::numeric;
;
"""

In [ ]:
pd.read_sql_query(qry, engine)

In [ ]:
qry="""
set role direccion_trabajo_inspections_write; 
SELECT DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS
WHERE 
     TABLE_NAME = 'inspections_complete' AND 
     COLUMN_NAME = 'empdfcodcomuna';
     """

In [ ]:
pd.read_sql_query(qry, engine)

# Creating features from office data

In [ ]:
role = 'direccion_trabajo_inspections_write'

In [ ]:
import sys
sys.path.append('../')
import pipeline.metrics as plmet
import pipeline.sql as plsql
import pipeline.eda as pleda

In [ ]:
qry = """set role {};
    select codoficina, count(*)  
    from cleaned.inspections_se 
    group by codoficina order by codoficina;
    """.format(role)

In [ ]:
office = plsql.query(qry, engine)

In [ ]:
office

In [ ]:
tt = ('\n').join("CASE WHEN codoficina = '{}' THEN 1 ELSE 0 END AS codoficina_{},".format(item, item) for item in office.codoficina.head())
print(tt)

In [ ]:
tt = ('\n').join("SUM(CASE WHEN codoficina = '{}' THEN 1 ELSE 0 END) AS codoficina_{},".format(item, item) for item in office.codoficina)
print(tt)

In [ ]:
('\n').join("CASE WHEN codoficina = '{}' THEN 1 ELSE 0 END AS codoficina_{},".format(item, item) for item in office.codoficina.head())

# company income levels from taxes data

In [ ]:
import sys
sys.path.append('../')
import pipeline.metrics as plmet
import pipeline.sql as plsql
import pipeline.eda as pleda

In [ ]:
role = 'direccion_trabajo_inspections_write'

In [ ]:
qry = """set role {};
    select tramoventas, count(*)  
    from staging.income_level_tax 
    group by tramoventas order by tramoventas;
    """.format(role)

In [ ]:
level = plsql.query(qry, engine)

In [ ]:
level

In [ ]:
tt = ('\n').join("CASE WHEN tramoventas = '{}' THEN 1 ELSE 0 END AS company_income_level_{},".format(item, item) for item in level.tramoventas)
print(tt)

In [ ]:
company_income_level_3',

# region from taxes data

In [ ]:
qry = """set role {};
    select region_tax, count(*)  
    from staging.income_level_tax 
    group by region_tax order by region_tax;
    """.format(role)

In [ ]:
level = plsql.query(qry, engine)

In [ ]:
level

In [ ]:
tt = ('\n').join("CASE WHEN region_tax = '{}' THEN 1 ELSE 0 END AS region_taxes_{},".format(item, item) for item in level.tramoventas)
print(tt)