In [ ]:
import psycopg2
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import yaml
import matplotlib.pyplot as plt
from plotnine import *

file = open("../config.yaml", 'r')
config = yaml.load(file)

engine_path = 'postgresql://{}:{}@{}/{}'
engine = create_engine(engine_path.format(config['db']['username'], config['db']['password'], config['db']['host'],
                                          config['db']['database']))

In [ ]:
qry = 'set role direccion_trabajo_inspections_write;select * from raw.inspections_sample limit 3;'

In [ ]:
inspections = pd.read_sql_query(qry, engine)

In [ ]:
def count_nulls_different_na_value(engine, role, schema, table, column, value):

    qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """
    na = value
    #print(na) 
    na_qry = '= ' + na
    
    result = pd.read_sql_query(qry.format(role, column, na_qry, 
        schema, table), engine)

    print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, schema, table))
    print(na)
    print(result)
    return result

In [ ]:
count_nulls(engine, 'direccion_trabajo_inspections_write', 'raw', 'inspections_complete', 'urgencia', value)

In [ ]:
count_nulls(engine,'direccion_trabajo_inspections_write', 'raw', 'inspections_complete', 'grupocodtipomaterias', 'false')

In [ ]:
def get_nulls_all_columns(engine, role, schema, table, na = '__null__', ind = 'enter_na'):
    
    # Query counts nulls when na value in the column is null
    def count_nulls_na(engine, role, schema, table, column, na):

        qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """
        # Create NA condition for query
        if na == '__null__':
            na_qry = 'is null'
        
        result = plsql.query(qry.format(role, column, na_qry, 
        schema, table), engine)

        print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, schema, table))
        #print(na)
        print(result)
        return result

    # Query counts nulls when na value in the column is different from null
    def count_nulls_different_na_value(engine, role, schema, table, column, value):

        qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """
        na = value
        #print(na) 
        na_qry = '= ' + na
    
        result = plsql.query(qry.format(role, column, na_qry, 
        schema, table), engine)

        print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, schema, table))
        #print(na)
        print(result)
        return result
    
    # Query returns a list of column names of the dataframe
    qry = """
    set role {};
    select column_name 
    from information_schema.columns 
    where table_name = '{}';
    """
    result = plsql.query(qry.format(role, table), engine)
    
    if na == '__null__':
        for i, row in result.iterrows():
            count_nulls_1(engine, role, schema, table, row.column_name, na)
    
    else:
        if ind == 'enter_na':
            value = input('Please enter the value of NA/null that you want to compute: ')
            for i, row in result.iterrows():
                try:
                    count_nulls(engine, role, schema, table, row.column_name, value)
                except:
                    pass

In [ ]:
get_nulls_columns(engine, 'direccion_trabajo_inspections_write', 'raw', 'inspections_complete')

In [ ]:
inspections.dtypes

In [ ]:
def count_nulls_na(engine, role, schema, table, column, na):

    qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """
    # Create NA condition for query
    if na == '__null__':
        na_qry = 'is null'
        
    result = pd.read_sql_query(qry.format(role, column, na_qry, 
        schema, table), engine)

    print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, schema, table))
    print(na)
    print(result)
    return result

In [ ]:
def count_nulls_check(engine, role, schema, table, column, 
        na = '__null__', ind = 'false'):

    qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """

    # Create NA condition for query
    if na == '__null__':
        na_qry = 'is null'
    else:
        if ind == 'false':
            na = "'{}'".format(na)
        na_qry = '= ' + na

    result = pd.read_sql_query(qry.format(role, column, na_qry, 
        schema, table), engine)
    print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, 
        schema, table))
    print(result)
    return result

In [ ]:
count_nulls_check(engine, 'direccion_trabajo_inspections_write', 'raw', 'taxes', 'ntrabajadores')

In [ ]:
def get_nulls_all_columns(engine, role, schema, table, na = '__null__', ind = 'enter_na'):
    
    # Query counts nulls when na value in the column is null
    def count_nulls_na(engine, role, schema, table, column, na):

        qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """
        # Create NA condition for query
        if na == '__null__':
            na_qry = 'is null'
        
        result = plsql.query(qry.format(role, column, na_qry, 
        schema, table), engine)

        print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, schema, table))
        #print(na)
        print(result)
        return result

    # Query counts nulls when na value in the column is different from null
    def count_nulls_different_na_value(engine, role, schema, table, column, value):

        qry = """set role {};
        select sum(case when {} {} then 1 else 0 end) from {}.{};
        """
        na = value
        #print(na) 
        na_qry = '= ' + na
    
        result = plsql.query(qry.format(role, column, na_qry, 
        schema, table), engine)

        print("\nNumber of rows where {} {} in {}.{}:".format(column, na_qry, schema, table))
        #print(na)
        print(result)
        return result
    
    # Query returns a list of column names of the dataframe
    qry = """
    set role {};
    select column_name 
    from information_schema.columns 
    where table_name = '{}';
    """
    result = pd.read_sql_query(qry.format(role, table), engine)
    
    if na == '__null__':
        for i, row in result.iterrows():
            count_nulls_1(engine, role, schema, table, row.column_name, na)
    
    else:
        if ind == 'enter_na':
            value = input('Please enter the value of NA/null that you want to compute: ')
            for i, row in result.iterrows():
                try:
                    count_nulls(engine, role, schema, table, row.column_name, value)
                except:
                    pass